<div class="card"> 
<div class="card-header">
  Add new Property
</div>
<div class="card-body">
  <form>
    <div class="form-group col-12">
      <label for="name">Name</label>
    <input type="text"class="form-control">
        </div>
        <div class="form-group col-12">
          <label for="name">Type</label>
        <input type="text"class="form-control">
            </div>
            <div class="form-group col-12">
              <label for="name">Price </label>
            <input type="text"class="form-control">
                </div>
                <div class="form-group col-12">
                  <button type="submit" class="btn btn-primary mr-2">Save</button>
                  <button type="reset" class="btn btn-primary mr-2">Cancel</button>

                     </div>

  </form>
</div>
</div>
